table.table.table-striped
  thead
    tr
      th Material
      th Laboratorio
      th Fecha de préstamo
      th Fecha de devolución
      th Estado
  tbody
    if prestamos && prestamos.length
      each p in prestamos
        tr
          td #{p.material}
          td #{p.laboratorio}
          td #{p.fechaPrestamo}
          td #{p.fechaDevolucion || '-'}
          td #{p.estado}
    else
      tr
        td(colspan="5") No hay historial de préstamos registrado.
