extends layout

block content
  h2.text-center.mt-5.mb-4 Historial de laboratorios extracurriculares
  .table-responsive
    table.table.table-bordered.table-hover.shadow-sm
      thead.table-warning
        tr
          th Laboratorio
          th Fecha
          th Hora inicio
          th Hora fin
          th Profesor responsable
          th Alumnos
          th Cupos ocupados
          th Cupos totales
          th Estado
      tbody
        if reservaciones.length
          each r in reservaciones
            tr
              td #{r.laboratorio}
              td #{r.fecha}
              td #{r.horaInicio}
              td #{r.horaFin}
              td #{r.profesor}
              td
                if r.alumnos.length
                  ul.mb-0.ps-3
                    each a in r.alumnos
                      if a
                        li
                          a(href=`/admin/alumnos/${a.id}`) #{a.nombre}
                else
                  | Sin reservas
              td #{r.ocupados}
              td #{r.cupos}
              td #{r.estado}
        else
          tr
            td(colspan="9") No hay reservaciones registradas.
