extends layout

block content
  .container.mt-5
    h2.text-center Dashboard de Profesor
    .card.mb-4
      .card-body
        h4 Bienvenido, #{profesor.nombre}
        p
          b Correo: 
          | #{profesor.correo}
        p
          b Carrera: 
          | #{profesor.carrera}
        p
          b Estado: 
          if profesor.estado === 'activo'
            span.badge.bg-success Activo
          else if profesor.estado === 'pendiente'
            span.badge.bg-warning.text-dark Pendiente
          else
            span.badge.bg-danger Rechazado
    h4.mt-4 Mis eventos
    if eventos && eventos.length
      table.table.table-striped
        thead
          tr
            th Nombre del evento
            th Laboratorio
            th Fecha
            th PIN
            th Materiales
        tbody
          each evento in eventos
            tr
              td #{evento.nombre}
              td #{evento.laboratorioNombre}
              td #{evento.fecha}
              td #{evento.pin}
              td #{evento.materialesNombres}
    else
      .alert.alert-info No hay eventos registrados.
    a.btn.btn-primary.mt-3(href="/profesor/evento/nuevo") Crear nuevo evento
